<% if current_user %>  
  <div class="vote-arrows pull-left">
    <div><%= link_to " ", post_up_vote_path(post), class: 'glyphicon glyphicon-chevron-up', method: :post %></div>
    <dvi><strong><%= post.points %></strong></dvi>
    <div><%= link_to " ", post_down_vote_path(post), class: 'glyphicon glyphicon-chevron-down', method: :post %></div>
  </div>
<% end %>